<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364190033630-g6go1njejl47q96vrdvmp4lsur40aoiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364190033630-g6go1njejl47q96vrdvmp4lsur40aoiq</string>
	<key>API_KEY</key>
	<string>AIzaSyDorz0PFj0dZjKwXw3w6ld5hssnY_tIA-A</string>
	<key>GCM_SENDER_ID</key>
	<string>364190033630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.peekApp</string>
	<key>PROJECT_ID</key>
	<string>peek-paseo-de-mascotas</string>
	<key>STORAGE_BUCKET</key>
	<string>peek-paseo-de-mascotas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364190033630:ios:2fab3b681d03e0274c844f</string>
</dict>
</plist>